.orderly-customer-list__container{

}
.orderly-customer-details__container{

}
.orderly-customer-details{
  padding: 1.5rem 7.5rem;
}
.orderly-customer-name{
  cursor: pointer;
  font-weight: 600;
}
.orderly-customer-name:hover{
  color: purple;
  font-weight: 600;
}
.orderly-customer-details-cross-btn{
  text-align: right;
  padding: 0 20px;
  cursor: pointer;
}

.orderly-customer-list__container .ant-table-thead tr th{
  background: purple;
  color: #fff;
  font-weight: 700;
}
.orderly-customer-details h3{
  display: flex;
  font-size: 16px;
  font-weight: 600;
}
.orderly-customer-details p{
  margin: 0 24px;
  font-size: 14px;
  color: grey;
  font-weight: 500;
}